<div class="row">
  <div class="col-lg-12">
    <p class="lead">Receitas a receber</p>
  </div>

  <% if @incomes.empty? %>
    <%= render 'no_data' %>
  <% else %>
    <div class="col-lg-12">
      <table class="table table-condensed">
        <tbody>
          <% @incomes.each do |income| %>
            <tr>
              <td class="col-lg-1 vertical-middle">
                <i class='fa fa-plus-square' style='color: #2ecc71;'></i>
              </td>
              <td class="col-lg-8">
                <%= link_to income, class: 'link_block' do %>
                  <%= income.description %><br>
                  <small><%= I18n.l income.date %></small>
                <% end %>
              </td>
              <td class="col-lg-3 vertical-middle text-right">
                <%= number_to_currency(income.value, locale: @current_account.read_attribute('currency_type')) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
