<%= simple_form_for(@entry) do |f| %>
  <div class="row">
    <div class="col-lg-12">
      <%= f.error_notification %>
      <%= f.hidden_field :entries_type %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <%= f.input :description, required: true %>
    </div>
    <div class="col-lg-6">
      <%= f.input :value, required: true %>
    </div>
    <div class="col-lg-6">
      <%= f.input :date, as: :date_picker, required: true %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <%= f.input :repeat, input_html: {class: 'repeat'} %>
    </div>
    <div class="col-lg-4">
      <%= f.input :repeat_times, collection: 2..180, include_blank: false, class: "repeat_times", disabled: (!@entry.repeat) %>
    </div>
    <div class="col-lg-4">
      <%= f.input :repeat_frequency, include_blank: false, disabled: (!@entry.repeat) %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <%= f.input :category_id, collection: @categories, include_blank: false %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= f.input :note %>
    </div>
    <div class="col-lg-12">
      <%= f.input :paid %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <%= link_to entries_path, class: 'btn btn-default' do %>
        <span class="fa fa-chevron-left"></span>
        <span>Voltar</span>
      <% end %>
    </div>
    <div class="col-lg-6 text-right">
      <%= f.button :submit, class: 'btn-success' %>
    </div>
  </div>
<% end %>
