<%= simple_form_for(@entry) do |f| %>
  <div class="row">
    <div class="col-xs-12">
      <%= f.error_notification %>
      <%= f.hidden_field :entries_type %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= f.input :description, required: true %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= f.input :value, required: true %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= f.input :date, as: :date_picker, required: true %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= f.input :repeat, input_html: {class: 'repeat'} %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= f.input :repeat_times, collection: 2..180, include_blank: false, class: "repeat_times", disabled: (!@entry.repeat) %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= f.input :repeat_frequency, include_blank: false, disabled: (!@entry.repeat) %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= f.input :category_id, collection: @categories, include_blank: false, required: true %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= f.input :note, input_html: {rows: 4} %>
    </div>
    <div class="col-xs-12">
      <%= f.input :paid %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <%= link_to :back, class: 'btn btn-default' do %>
        <i class="fa fa-chevron-left"></i>
        Voltar
      <% end %>
    </div>
    <div class="col-xs-6 text-right">
      <%= f.button :submit, class: 'btn-success' %>
    </div>
  </div>
<% end %>
