<footer class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h4 class="section-heading">Gênese</h4>
      </div>

      <div class="col-lg-12 text-center">
        <%= link_to 'Inicio', root_path %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to 'Vantagens', resources_page_path %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to 'Sobre', about_page_path %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to 'Contato', contact_forms_path %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to 'Ajuda', tutorials_path %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to 'Login', new_user_session_path %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to 'Cadastrar', new_user_registration_path %>
        <br><br>
      </div>

      <div class="col-lg-12 text-center">
        <h5 class="section-heading">© 2015 - Sistema Gênese</h5>
      </div>
    </div>
  </div>
</footer>
