<section>
  <section id="title">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="section-heading">Central de Ajuda</h1>
        </div>
      </div>
    </div>
  </section>

  <section id="help-center">
    <div class="container" id="resources">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <% @tutorial_categories.each do |category| %>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="<%= "#{category.id}-heading" %>">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="<%= "#collapse-#{category.id}" %>" aria-expanded="true" aria-controls="<%= "collapse-#{category.id}" %>">
                          <div>
                            <span><%= category.name %></span>
                            <i class="indicator fa fa-chevron-right pull-right"></i>
                          </div>
                        </a>
                      </h4>
                    </div>

                    <div id="<%= "collapse-#{category.id}" %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="<%= "#{category.id}-heading" %>">
                      <ul class="list-group">
                        <% @tutorials.where(tutorial_category_id: category.id).each do |tutorial| %>
                          <li class="list-group-item">
                            <%= link_to tutorial.title, tutorial %>
                          </li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
