<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
    <h4>Categorias</h4>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
    <ul class="list-group">
      <% @categories.each do |category| %>
        <li class="list-group-item">
          <div class="row">
            <div class="col-lg-8 col-md-8">
              <i class="fa fa-lg fa-circle" style="color:<%= category.color %>;"></i>
              <%= category.name %>
            </div>
            <div class="col-lg-4 col-md-4 text-right">
              <%= link_to edit_category_path(category), class: 'link-icon' do %>
                <i class="fa fa-lg fa-pencil"></i>
              <% end %>
              <%= link_to category, method: :delete, data: { confirm: 'Deseja realmente deletar esta categoria?' }, style: 'margin-left: 8px;', class: 'link-icon' do %>
                <i class="fa fa-lg fa-trash"></i>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>

    <%= link_to new_category_path, class: 'btn btn-default' do %>
      <i class="fa fa-plus"></i>
      Nova Categoria
    <% end %>
  </div>
</div>
