<div class="modal fade" id="category_modal_<%= category.id %>" tabindex="-1" role="dialog" aria-labelledby="modalCategoryLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-danger" id="modalCategoryLabel">
          Deletar Categoria
        </h4>
      </div>
      <%= form_for(category, html: {method: :delete}) do %>
        <div class="modal-body">
          <p class="lead">
            Categoria a ser deletada: <b><%= category.name %></b>
          </p>
          <% if category.entries.present? %>
            <p class="lead">
              Para qual das categorias disponíveis, os lançamentos desta categoria devem ser atualizados?
            </p>

            <div class="form-group">
              <select name="modal_category" id="modal_category" class="form-control">
                <% categories = @categories.where.not(id: category.id) %>
                <%= categories.each do |modal_category| %>
                  <option value="<%= modal_category.id %>"><%= modal_category.name %></option>
                <% end %>
              </select>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <i class="fa fa-chevron-left"></i>
            Fechar
          </button>
          <button type="submit" class="btn btn-danger">Deletar Categoria</button>
        </div>
      <% end %>
    </div>
  </div>
</div>
