<%= simple_form_for(@category) do |f| %>
  <div class="row">
    <div class="col-lg-12">
      <%= f.error_notification %>

      <%= f.input :name %>
      <%= f.input :color, as: :colorpicker %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <%= link_to :back, class: "btn btn-default" do %>
        <span class="fa fa-chevron-left"></span>
        Voltar
      <% end %>
    </div>
    <div class="col-lg-6 text-right">
      <%= f.button :submit, class: 'btn-success' %>
    </div>
  </div>
<% end %>
