<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <h4>Categorias</h4>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <ul class="list-group">
      <% @categories.each do |category| %>
        <li class="list-group-item">
          <div class="row">
            <div class="col-lg-8">
              <span class="fa fa-lg fa-circle" style="color:<%= category.color %>;"></span>
              <%= category.name %>
            </div>
            <div class="col-lg-4 text-right">
              <%= link_to edit_category_path(category) do %>
                <span class="fa fa-lg fa-pencil">
              <% end %>
              <%= link_to category, method: :delete, data: { confirm: 'Deseja realmente deletar esta categoria?' }, style: 'margin-left: 8px;' do %>
                <span class="fa fa-lg fa-trash"></span>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>

    <%= link_to 'Nova Categoria', new_category_path, class: 'btn btn-default' %>
  </div>
</div>
